@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #0f0e13;
	background-image: radial-gradient(at 30% 0%, #2f436a 0, transparent 25%),
		radial-gradient(at 20% 0%, #0cdcef 0, transparent 25%);
	background-repeat: no-repeat;
}

::-webkit-scrollbar {
	display: none;
}

.image-items {
	@apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-200;
}

.contact-items {
	@apply shadow-md rounded-lg hover:shadow-blue;
}
